<!DOCTYPE html>
<html>
    <head>
        <title>Login page</title>
    </head>
<body>
    {% with messages=get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul>
        {% for category,message in messages %}
        <li class="{{category}}">{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
<h1>Welcome to the site!</h1>
<form method="post" action="{{url_for('login')}}">
    <label for="username">username</label>
    <input type="text" id="username" name="username">  
    <br/> <br/>
    <label for="password">password</label>
    <input type="text" id="password" name="password">  
    <br/><br/>
    <button type="submit">Login</button>
</form>
</body>    
</html>